<div class="card">
    <div class="card-body">

        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, aperiam vitae necessitatibus rerum quo temporibus provident beatae aliquid nam expedita nesciunt cupiditate dignissimos odit tempora assumenda? Temporibus non aliquam dolorem, voluptatem eligendi tenetur id nesciunt, ipsa, minus dolorum facere deleniti.</p>
    </div>
</div>