<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <div class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</div>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit error porro autem libero illum expedita nulla accusantium eum blanditiis amet consectetur, iusto consequuntur quibusdam suscipit nostrum quo facilis velit ullam.</p>
    <a href="http://faztweb.com" class="btn btn-primary btn-lg">FaztWeb</a>
</div>